{
	"parser": "babel-eslint",
	"rules": {
		"react-hooks/rules-of-hooks": "error",
		"react-hooks/exhaustive-deps": "warn",
		"import/prefer-default-export": "off",
		"react/prefer-stateless-function": [
			1,
			{
				"ignorePureComponents": true
			}
		],
		"max-len": [
			"error",
			{
				"code": 120,
				"tabWidth": 2,
				"ignoreComments": true,
				"ignoreUrls": true,
				"ignoreRegExpLiterals": true,
				"ignoreStrings": true
			}
		],
		"semi": ["error", "never"],
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".js", ".jsx"]
			}
		],
		"react/forbid-prop-types": [0],
		"camelcase": [0],
		"indent": [
			1,
			"tab",
			{
				"SwitchCase": 1
			}
		],
		"no-tabs": 0,
		"no-console": ["error", { "allow": ["warn", "error"] }],
		"react/jsx-indent": [1, "tab"],
		"react/jsx-indent-props": [1, "tab"],
		"linebreak-style": [0, "unix"]
	},
	"settings": {
		"import/resolver": {
			"node": {
				"paths": ["src"]
			}
		}
	},
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"jest": true
	},
	"globals": {
		"__BASE_URL__": true,
		"expect": true
	},
	"extends": ["airbnb", "prettier", "prettier/react"],
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
		},
		"ecmaVersion": 6
	},
	"plugins": ["react", "prettier", "react-hooks"]
}
